name: Deploy Backend to Hosting

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Upload Backend via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.BACKEND_FTP_SERVER }}
          username: ${{ secrets.BACKEND_FTP_USERNAME }}
          password: ${{ secrets.BACKEND_FTP_PASSWORD }}

          local-dir: backend/
          server-dir: /htdocs/
