name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy frontend via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FRONTEND_FTP_SERVER }}
          username: ${{ secrets.FRONTEND_FTP_USERNAME }}
          password: ${{ secrets.FRONTEND_FTP_PASSWORD }}
          local-dir: frontend/
          server-dir: /www.htmldemo.somee.com/
